In [1]:
import torch
import os
import pandas as pd
import copy
import numpy as np

In [2]:
def read_data_from_file(input_file_path):
    """
    :param input_file_path:
    :return: a list of numpy arrays
    """
    import ast  # for safe evaluations
    import numpy as np

    # Initialize an empty list to hold the data
    loaded_data = []

    # Read the file
    with open(input_file_path, 'r') as f:
        for line in f:
            # Convert the string representation of the list back to a Python object
            item = ast.literal_eval(line.strip())

            converted_item = []
            if isinstance(item, list):
                for element in item:
                    if isinstance(element, list):
                        converted_item.append(np.array(element))
                    else:
                        converted_item.append(np.array([element]))

            else:
                converted_item.append(np.array(item))

            loaded_data.append(converted_item[0])

    return loaded_data

In [3]:
data_load_dir = '/Users/cangxiong/Downloads/resnet_head_2024-09-10-2359/'
false_neg_load_path = os.path.join(data_load_dir, 'false_negatives_coordinates.txt')
false_pos_load_path =  os.path.join(data_load_dir, 'false_positives_coordinates.txt')
true_pos_load_path = os.path.join(data_load_dir, 'true_positives_coordinates.txt')
true_neg_load_path = os.path.join(data_load_dir, 'true_negatives_coordinates.txt')

In [4]:
false_neg_coordinates = read_data_from_file(false_neg_load_path)
false_pos_coordinates = read_data_from_file(false_pos_load_path)
true_pos_coordinates = read_data_from_file(true_pos_load_path)
true_neg_coordinates = read_data_from_file(true_neg_load_path)

In [5]:
len(false_pos_coordinates)

1028

In [6]:
len(true_pos_coordinates)

2198

In [7]:
len(false_neg_coordinates)

272

In [8]:
len(true_neg_coordinates)

15502

In [9]:
total_pos_coordinates = copy.deepcopy(true_pos_coordinates)

In [10]:
total_neg_coordinates = copy.deepcopy(true_neg_coordinates)

In [11]:
total_pos_coordinates.extend(false_neg_coordinates)

In [12]:
total_neg_coordinates.extend(false_pos_coordinates)

In [13]:
len(total_pos_coordinates)

2470

In [14]:
len(total_neg_coordinates)

16530

In [15]:
column_headings = ['event_label', 'time_arrow', 'crop_x', 
                   'crop_y', 'frame_ind', 'time_arrow_duplicated',
                   'event_pred']

In [16]:
df_false_pos = pd.DataFrame(false_pos_coordinates, columns=column_headings)

In [17]:
df_false_pos

,event_label,time_arrow,crop_x,crop_y,frame_ind,time_arrow_duplicated,event_pred
0,0,1,785,48,91,1,1
1,0,1,706,445,16,1,1
2,0,0,102,799,69,0,1
3,0,0,158,958,71,0,1
4,0,0,621,844,20,0,1
...,...,...,...,...,...,...,...
1023,0,1,588,830,74,1,1
1024,0,1,291,226,83,1,1
1025,0,0,556,184,21,0,1
1026,0,0,70,250,47,0,1
1027,0,0,606,704,83,0,1

In [18]:
df_true_pos = pd.DataFrame(true_pos_coordinates, columns=column_headings)

In [19]:
df_true_pos

,event_label,time_arrow,crop_x,crop_y,frame_ind,time_arrow_duplicated,event_pred
0,1,1,331,962,22,1,1
1,1,1,493,16,48,1,1
2,1,1,763,178,21,1,1
3,1,1,774,382,93,1,1
4,1,1,567,777,84,1,1
...,...,...,...,...,...,...,...
2193,1,0,137,964,16,0,1
2194,1,1,740,856,88,1,1
2195,1,1,621,611,61,1,1
2196,1,1,458,933,16,1,1
2197,1,1,935,417,62,1,1

In [20]:
df_total_pos = pd.DataFrame(total_pos_coordinates, columns=column_headings)

In [21]:
df_total_pos

,event_label,time_arrow,crop_x,crop_y,frame_ind,time_arrow_duplicated,event_pred
0,1,1,331,962,22,1,1
1,1,1,493,16,48,1,1
2,1,1,763,178,21,1,1
3,1,1,774,382,93,1,1
4,1,1,567,777,84,1,1
...,...,...,...,...,...,...,...
2465,1,0,154,692,6,0,0
2466,1,0,855,42,55,0,0
2467,1,1,872,860,65,1,0
2468,1,1,507,799,63,1,0
2469,1,0,778,400,92,0,0

In [22]:
df_false_neg = pd.DataFrame(false_neg_coordinates, columns=column_headings)

In [23]:
df_total_pos.groupby('frame_ind').size()

frame_ind
0     13
1     13
2     13
3      6
4     12
      ..
90    31
91    36
92    34
93    36
94    50
Length: 95, dtype: int64

In [24]:
df_total_neg = pd.DataFrame(total_neg_coordinates, columns=column_headings)

In [25]:
df_true_neg = pd.DataFrame(true_neg_coordinates, columns=column_headings)

In [26]:
total_pos_groupby_frame_ind = df_total_pos.groupby('frame_ind').size()

In [27]:
total_pos_groupby_frame_ind.sum()

2470

In [28]:
false_pos_groupby_frame_ind = df_false_pos.groupby('frame_ind').size()

In [29]:
true_pos_groupby_frame_ind = df_true_pos.groupby('frame_ind').size()

In [30]:
false_neg_groupby_frame_ind = df_false_neg.groupby('frame_ind').size()

In [31]:
true_neg_groupby_frame_ind = df_true_neg.groupby('frame_ind').size()

In [32]:
total_neg_groupby_frame_ind = df_total_neg.groupby('frame_ind').size()

In [33]:
true_pos_groupby_frame_ind.sum()

2198

In [34]:
false_pos_groupby_frame_ind.sum()

1028

In [35]:
false_neg_groupby_frame_ind.sum()

272

In [36]:
true_neg_groupby_frame_ind.sum()

15502

In [37]:
total_neg_groupby_frame_ind.sum()

16530

In [38]:
false_pos_percentage = (false_pos_groupby_frame_ind / false_pos_groupby_frame_ind.sum())*100

In [39]:
total_pos_percentage = (total_pos_groupby_frame_ind / total_pos_groupby_frame_ind.sum())*100

In [40]:
true_pos_percentage = (true_pos_groupby_frame_ind / true_pos_groupby_frame_ind.sum())*100

In [41]:
false_neg_percentage = (false_neg_groupby_frame_ind / false_neg_groupby_frame_ind.sum())*100

In [42]:
true_neg_percentage = (true_neg_groupby_frame_ind / true_neg_groupby_frame_ind.sum())*100

In [43]:
total_neg_percentage = (total_neg_groupby_frame_ind / total_neg_groupby_frame_ind.sum())*100

In [44]:
import matplotlib.pyplot as plt

In [45]:
# Plotting the data
plt.figure(figsize=(10, 6))

# Plot each percentage lines
plt.plot(true_pos_percentage.index, true_pos_percentage, marker='o', label='true positives', color='blue')
plt.plot(false_pos_percentage.index, false_pos_percentage, marker='s', label='false positives', color='green')
plt.plot(total_pos_percentage.index, total_pos_percentage, marker='^', label='ground truth positives', color='red')

# Set labels and title
plt.xlabel('time index of frame', fontsize=12)
plt.ylabel('Percentage (%)', fontsize=12)
plt.title('Distribution of false positives by time', fontsize=14)

# Add a legend to differentiate between datasets
plt.legend()

# Show the plot
plt.grid(True)
# plt.show()
plt.savefig('/Users/cangxiong/Downloads/false_positives_by_time.pdf', format='pdf')
plt.close()

In [46]:
# Plotting the data
plt.figure(figsize=(10, 6))

# Plot each percentage lines  
plt.plot(true_neg_percentage.index, true_neg_percentage, marker='o', label='true negatives', color='blue')
plt.plot(false_neg_percentage.index, false_neg_percentage, marker='s', label='false negatives', color='green')
plt.plot(total_neg_percentage.index, total_neg_percentage, marker='^', label='ground truth negatives', color='red')

# Set labels and title
plt.xlabel('time index of frame', fontsize=12)
plt.ylabel('Percentage (%)', fontsize=12)
plt.title('Distribution of false negatives by time', fontsize=14)

# Add a legend to differentiate between datasets
plt.legend()

# Show the plot
plt.grid(True)
# plt.show()
plt.savefig('/Users/cangxiong/Downloads/false_negatives_by_time.pdf', format='pdf')
plt.close()